<%- include header %>
<form method="post">
    Username: <input type="text" name="name"/><br/>
    Password: <input type="password" name="password"/><br/>
    <input type="submit" value="Login"/>
</form>
<a href="/login/github">使用 GitHub 登录</a>
<%- include footer %>
